@import 'https://fonts.googleapis.com/css?family=Montserrat';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: 'Monserrat' sans-serif;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	background-image: url("/static/img/bg.png");
  background-size: cover;
}
a {
	text-decoration: none;
  color: #009688;
}

/* Header */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	transition: .3s ease background-color;
}
#header .navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
/* End Header*/

.banner{
  height: 100vh;
  width: 100%;
  /*background-color: rgb(63, 57, 57);*/
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  top: 0;
  width: 50px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  font-size: large;
  text-decoration: none;
  color: #009688;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #009688;
}
.content h1{
  font-size: 60px;
  margin-top: 80px;
}
.content p{
  margin: 20px auto;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
}

.container h1 label input {
  font-size: x-large;
  color: #009688;
}

.b h1 label input a{
  font-size: x-large;
  color: #009688;
}

ul {
    list-style-type: none;
}

#resultdiv {
  text-align: center;
  align-items: center;
  padding: 10%;
}

#title {
  color: #009688;
  text-decoration: underline;
  text-decoration-color: #009688;
}

input[type=button], input[type=submit], input[type=file] {
  background-color: #009688;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}