<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressWrite</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
</head>
<body>
        <div class="banner">
            <div class="navbar">
                <a href="{{ url_for('transagain') }}"><img src="{{url_for('static', filename='img/logo.png')}}" class="logo"></a>
            </div>
            <div class="content">
                <h1>ExpressWrite</h1>
                <p> Recognize handwritten numbers, word and letters with ease. </p>
                <form action = "/textresult" method = "POST" enctype = "multipart/form-data">
                <input id = file-upload type = "file" accept=".png, .jpeg, .jpg" name = "file" /><br>
                <input type = "submit" onclick="return VerifyUploadSizeIsOK()"/>
                </form> 
            </div> 
        </div>
        <script type="text/javascript">
            function VerifyUploadSizeIsOK()
            {
               /* Attached file size check. Will Bontrager Software LLC, https://www.willmaster.com */
               var UploadFieldID = "file-upload";
               var MaxSizeInBytes = 2000000;
               var fld = document.getElementById(UploadFieldID);
               var fileName = document.querySelector('#file-upload').value;
               var extension = fileName.split('.').pop();
               var accept = ['.png', '.jpg', '.jpeg']
               if( fld.files && fld.files.length == 1 && fld.files[0].size > MaxSizeInBytes )
               {
                  alert("The file size must be no more than 2MB");
                  return false;
               }

               if( extension != accept)
               {
                  alert("This file type is not supperted. Please upload png or jpg file only.");
                  return false;
               }
               return true;
            }
            
            function VerifyFileType()
            {
                fileName = document.querySelector('#file-upload').value;
                extension = fileName.type.split('.')[0];
                
               if( extension == pdf )
               {
                  alert("This file type is not supperted. Please upload png or jpg file only.");
                  return false;
               }
               return true;
            }
        </script>
</body>
</html>
