<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressWrite</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <a href="{{ url_for('transagain') }}"><img src="{{url_for('static', filename='img/logo.png')}}" class="logo"></a>
            <ul>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>

        <div class="profile">
            <h1>Profile</h1>
            <p id="title"> Your Account Details </p>
            <p>Username: {{ account['name'] }}</p>
            <p>Email: {{ account['email'] }} </p>
            <a style="justify-content: center; font-size: 15px; font-weight: bold;"href="{{ url_for('changepass') }}"> Change Password </a>
            
         
            <p id="title"> Your Saved Translations </p>
            <table>
                {% for i in account2: %}
                <tr>
                    <td>
                        <form action="{{url_for('.result')}}" method="post">
                            
                             <textarea name="result" rows="5" cols="50">{{ i['result_text'] }}</textarea></td><td>
                             <input type="submit" name="dl" value="Download"/>
                             
                         </form></td><td>
                         <form action="{{url_for('deletetrans')}}" method="post">
                            <textarea hidden name="resultid" >{{i['result_id']}}</textarea>
                             <input type="submit" name="deletetrans" value="Delete"/>
                         </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>