<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ExpressWrite</title>
   <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
</head>
<body>
   <div class="navbar">
         <a href="{{ url_for('transagain') }}"><img src="{{url_for('static', filename='img/logo.png')}}" class="logo"></a>
         <br>
   </div>
   <div class="content">
      
      <h1>Your writing means...</h1>
   
      <form action="{{ url_for('.result') }}" method = "POST" enctype = "multipart/form-data">
         <textarea id="textresult" name="texttrans" rows="20" cols="50">
            {% for n in textresultCV: %}
            {{ n }}
            {% endfor %}
         </textarea><br><br>
         <input type="submit" value="Save Translation" name="savetrans"/>
      </form>
         
      <form action="{{ url_for('transagain') }}">
         <input type="submit" value="Translate Again" name="transagain"/>
      </form>
   </div>
</body>
</html>